.App {
  text-align: center;
  background-color: #cfcfcf;
  
  min-height: max-content;
  
}

.table {
  text-align: left;
}

.table-required{
  background-color:#dcdcdc;
}
.table-not-required{
  background-color: whitesmoke;
}

.form-control:valid {
  background-color:  #3bc14a!important;
}

.white-text{
color: black;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b47978;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dispatch-table{
  height:100px;
  width: 1000px;
 margin-right: auto;
  margin-left: auto;
  border: 3px solid black;
  
}

.responder-table{
  height:100px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  
}


.row {
  
  display: flex; /* equal height of the children */
  
}

.col {
  flex: 1; /* additionally, equal width */
  
  padding: 1em;
  
}

.title-main{
  color: red;
  
}
/* all front  */
.btn-light {
  border: 3px solid green;
  color:white;
  font-weight: bold;
  background-color: green;
  border-radius: 20px;
}
  .SWF-Logo{
    width: auto;
      height: 50px;
  }


    .AFC-Logo{
      width: auto;
        height: 130px;
      }
    /* for the divsion to hold the map and all items */
    .map {
      align-content: center;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    
      width: 500px ;
      height: 500px; 
      
      border-width: 2px;
      border-style: solid;
      border-color: black;
    
    }

      .tableMod {
        border: 1px solid black;
        border-radius: 40px;  
      }

      .titleOnly{
        color:black;
        
      }

    
        .preload{
        position:fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.5s ease;
    }

    .chopper{
      height: 200px;
      animation: chopper 1s ease infinite alternate;
      

    }

    @keyframes chopper{
      from{
        transform: translateY(0px);
      }
      to{
        transform: translateY(50px);

      }
    }

    .preload-finish{
      opacity: 0;
      pointer-events: none;
      

    }

    .redlineLogo{
      height: 50px;
      width: auto;
    }
    #mapcontainer {
      align-content: center;
      align-items: center;
      justify-content: center;
      
      height: 350px;
      width: 350px;
    
    }

          
          .flex-left {
          float:left;
          }
          .flex-right{
          float:right;
          }

        .btn-light-2{
         
      color:white;
      font-weight: bold;
      background-color: rgb(122, 124, 122);
      border-radius: 1px;



        }

        .dropDown {
          background-color: whitesmoke;
          max-width: 400px;
          text-align: center;
          


        }

